/* Empty. Add your own CSS if you like */
.vlicense
{
	border-style: none;
}
.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	/* width and height can be anything, as long as they're equal */
}
.red
{
	background-color:#FF0000;
}
.green
{
	background-color:#00FF00;
}


.meterbar
{
	width:100%;
	background-color: rgb(227, 227, 227);
	border-radius: 9px;
	height: 9px;

}
.meterbar hr
{
	height:9px;
	background-color: #AFE81F;
	border-style: none;
	border-radius: 5px;
	
}